<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/styleMain.css">
	<title> About </title>
	</head>
	<body>

		<div class="sidebar">
		  <a href="{{ url_for('index')}}">Home</a>
		  <a href="{{ url_for('twitter')}}">Tweets</a>
		  <a href="{{ url_for('youtube')}}">Youtube Comments</a>
		  <a href="{{ url_for('news')}}">News</a>
		  <a href="{{ url_for('contact') }}">Contact</a>
		  <a class="active" href="{{ url_for('about') }}">About</a>
		</div>

		<div class="content">
		  <h2>About</h2>
		  <p>The importance of reputation to businesses can never be stressed enough. Building a good image leads to new customers, increased sales and growth and likewise, the negative ones have the potential to tear a business down. Reputation management is a taxing undertaking, which led to efforts to automate such process.</p>
		  <p>With the internet being a massive weapon of both construction and destruction, our Reputation Management is designed to monitor users’ online reviews of products and services. It helps spread positive customer experiences through review platforms and help tackle the negative reviews and comments.</p>
		  <p>Reputation Manager uses the relevant information to increase a company’s sales by giving it insights on how consumers view the business. In the event, the software captures a negative review, the company can contact that person and assist him/her in getting a richer experience, which could alter what he/she thinks of the organization. In essence, the software helps not only customers but companies as well, by helping them improve. </p>
		  <p> We provide you : </p>
		  <ol>
		  	<li> A secure online environment : Corporate teams that access and exchange restricted data online should do so confidently without the threat of privacy breaches. This is why roles, privileges and access must be assigned in a secure setting. </li>
		  	<li> Single platform/window : We offer a single dashboard through which users can hand out information. It serves as the single destination for information gathered from Twitter, YouTube comments, and different news sources. </li>
		  	<li> Search and monitoring functionalities: We track emerging stories and conversations and their corresponding origins. </li>
		  	<li> Cost-effective and practical: Conventional methods of monitoring millions of conversations about a single brand is not only tiresome, but very expensive as well. Our tool makes sure that it accomplishes in a cost effective and practical manner. </li>
		  </ol>
		  <br>
		  <p>Some of the other features of our Reputation Manager is that it : </p>
		  <ul>
		  	<li> Helps in quickly resolving customer complaints. </li>
		  	<li> Helps the company show concern over customer service. </li>
		  	<li> Helps in earning customer trust. </li>
		  	<li> Creates positive word-of-mouth about your organization. </li>
		  	<li> Increases transparency. </li>
		  	<li> Identifies business opportunities. </li>
		  	<li> Aids in growing presence in digital channels. </li>
		  	<li> Promotes online endorsements. </li>
		  	<li> Aids the company in addressing negative reviews and comments. </li>
		  </ul>
		</div>

	</body>
</html>