<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/styleMain.css">
	<title> Youtube </title>
	</head>
	<body>
		<div class="sidebar">
		  <a href="{{ url_for('index')}}">Home</a>
		  <a href="{{ url_for('twitter')}}">Tweets</a>
		  <a class="active" href="{{ url_for('youtube')}}">Youtube Comments</a>
		  <a href="{{ url_for('news')}}">News</a>
		  <a href="{{ url_for('contact') }}">Contact</a>
		  <a href="{{ url_for('about') }}">About</a>
		</div>

		<div class="content">
		 	<div class="heading">
		  		<h2> Reputation Manager - Analyse Youtube comments </h2>
		  		<p> Hey there, this page lets you analyse your company's or product's market reputation specifically from youtube comments. Simply enter a keyword in the text box below and hit the search button to analyse. </p>
		  		<p> You can also choose a particular platform to analyse market Reputation </p>
		  	</div>
		  	<div class="searchform">
			  	<form action="{{ url_for('youtube') }}" id="youtube_form" method="post">
			  		<h4> Enter a Keyword related to the product/brand/company you want to search for.</h4>
	  				<input type="text" id="search" name="search" placeholder="Search.."/>
	  				<br> </br>
	  				<input id="searchbtn" name="searchbtn" type="submit" value="Analyse"/>
				</form>
		  	</div>
			<main>
				{% block main %}{% endblock %}
			</main>
		</div>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
			var form = document.getElementById('youtube_form');
			form.onsubmit = function() {
				var tf = true;
				if(form.search.value == '')
				{
					document.getElementById("search").style.borderColor="#ff1a1a";
					tf = false;
				}
				return tf;
			};
		</script>
		<script>
			$(document).ready(function(){
				$('.mytableviewmore_pos').hide();
				$('.mytableviewmore_neg').hide();
				$('#go_back').hide();
				$(".heading_more_neg").hide();
				$(".heading_more_pos").hide();
			  	$("#pos_view_more").click(function(){
			    	$(".searchform").hide();
			   		$(".heading").hide();
			    	$("#table_data1").hide();
			    	$("#table_data2").hide();
			    	$('#go_back').show();
			    	$("#neg_view_more").hide();
			    	$("#pos_view_more").hide();
			    	$('.mytableviewmore_pos').show();
			    	$('#piechart').hide();
			    	$('html,body').scrollTop(0);
			    	$(".heading_more_pos").show();
			    	$('#info').hide();
			  	});
			  	$("#neg_view_more").click(function(){
			    	$(".searchform").hide();
			   		$(".heading").hide();
			    	$("#table_data1").hide();
			    	$("#table_data2").hide();
			    	$('#go_back').show();
			    	$("#neg_view_more").hide();
			    	$("#pos_view_more").hide();
			    	$('.mytableviewmore_neg').show();
			    	$('#piechart').hide();
			    	$('html,body').scrollTop(0);
			    	$(".heading_more_neg").show();
			    	$('#info').hide();
			  	});
			  	$("#go_back").click(function(){
			  		$(".searchform").show();
			    	$(".heading").show();
			    	$("#table_data1").show();
			    	$("#table_data2").show();
			    	$('#go_back').hide();
			    	$("#pos_view_more").show();
			    	$("#neg_view_more").show();
			    	$('.mytableviewmore_pos').hide();
			    	$('.mytableviewmore_neg').hide();
			    	$('#piechart').show();
			    	$(".heading_more_pos").hide();
			    	$(".heading_more_neg").hide();
			    	$('html,body').scrollTop(0);
			    	$('#info').show();
			  	});
			});
		</script>
		<script type="text/javascript">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);
			var pos = document.getElementById("mytableviewmore_posid").rows.length;
			var neg = document.getElementById("mytableviewmore_negid").rows.length;
			function drawChart() {
				var data = google.visualization.arrayToDataTable([
					['Comment-type', 'Number of comments'],
					['Positive comment', pos],
					['Negative Comment', neg],
				]);
				var options = {'title':'%age of +ve and -ve comments', 'width':550, 'height':400};
				var chart = new google.visualization.PieChart(document.getElementById('piechart'));
	  			chart.draw(data, options);
			}
		</script>
	</body>
</html>
